.bg-frosted-glass {
  background-image: url(../assets/patterns/frosted_glass.png);
  background-repeat: repeat; }

.bg-line {
  background-image: url(../assets/patterns/line.jpg);
  background-repeat: repeat; }

body {
  background-color: #403C34;
  font-family: 'Avenir Next', Arial;
  font-size: 100%; }

.page {
  height: 100vh;
  min-height: 600px; }
  .page.landing .landing-top {
    height: 60%; }
  .page.landing .landing-mid {
    height: 25%; }
  .page.landing .landing-btm {
    height: 15%; }
  .page.preview .preview-wrap {
    height: 100%; }

.border {
  position: relative;
  height: 100%;
  width: 100%; }
  .border:before,
  .border:after {
    content: '';
    position: absolute;
    background-color: #DDD; }
  .border:before {
    width: 1px;
    height: 100%;
    top: 0; }
  .border:after {
    width: 100%;
    height: 1px;
    left: 0; }
  .border.border-rb:before {
    right: 0; }
  .border.border-rb:after {
    bottom: 0; }
  .border.border-rb.border-shift:before {
    right: -1px; }
  .border.border-rb.border-shift:after {
    bottom: -1px; }
  .border.border-lt:before {
    left: 0; }
  .border.border-lt:after {
    top: 0; }
  .border.border-lt.border-shift:before {
    height: calc(100% + 1px);
    left: -1px; }
  .border.border-lt.border-shift:after {
    width: calc(100% + 1px);
    top: -1px; }
  .border.border-l:before {
    left: 0; }
  .border.border-l:after {
    content: none; }
