.bg-frosted-glass {
  background-image: url(../assets/patterns/frosted_glass.png);
  background-repeat: repeat;
}

.bg-line {
  background-image: url(../assets/patterns/line.jpg);
  background-repeat: repeat;
}
