// 1. Container Base
// =============================================
.#{$global-prefix}-row,
.#{$global-prefix}-column,
.#{$global-prefix}-grid {
  @extend %box-sizing;
  position: relative;
  @include flexbox;
  margin: - $unit-size;

  & > * {
    @extend %box-sizing;
    padding: $unit-size;
    @include flex(1, 1, auto);
    @include order(0);
  }

  &.#{$global-prefix}-fill > * {
    @include flex-grow(1);
  }

  &.#{$global-prefix}-gapless {
    margin: 0;

    & > * {
      padding: 0;
    }
  }
}

.#{$global-prefix}-row {
  @include flex-direction(row);
  @include flex-wrap(nowrap);

  &.rev {
    @include flex-direction(row-reverse);
  }
}

.#{$global-prefix}-column {
  @include flex-direction(column);
  @include flex-wrap(nowrap);

  &.rev {
    @include flex-direction(column-reverse);
  }
}

.#{$global-prefix}-grid {
  @include flex-direction(row);
  @include flex-wrap(wrap);

  &.rev {
    @include flex-direction(row-reverse);
    @include flex-wrap(wrap-reverse);
  }
}


// 2. Alignment
// =============================================
$main-axis-classes:  'start', 'center', 'end', 'between', 'around';
$main-axis-start:    nth($main-axis-classes, 1);
$main-axis-center:   nth($main-axis-classes, 2);
$main-axis-end:      nth($main-axis-classes, 3);
$main-axis-between:  nth($main-axis-classes, 4);
$main-axis-around:   nth($main-axis-classes, 5);

$cross-axis-classes: 'start', 'center', 'end', 'stretch';
$cross-axis-start:   nth($cross-axis-classes, 1);
$cross-axis-center:  nth($cross-axis-classes, 2);
$cross-axis-end:     nth($cross-axis-classes, 3);
$cross-axis-stretch: nth($cross-axis-classes, 4);

@mixin join-alignment-property($main-axis-class, $cross-axis-class) {
  @if $main-axis-class == $main-axis-center {
    @include justify-content(center);
  } @else if $main-axis-class == $main-axis-end {
    @include justify-content(flex-end);
  } @else if $main-axis-class == $main-axis-between {
    @include justify-content(space-between);
  } @else if $main-axis-class == $main-axis-around {
    @include justify-content(space-around);
  } @else {
    @include justify-content(flex-start);
  }

  @if $cross-axis-class == $cross-axis-center {
    @include align-items(center);
  } @else if $cross-axis-class == $cross-axis-end {
    @include align-items(flex-end);
  } @else if $cross-axis-class == $cross-axis-stretch {
    @include align-items(stretch);
  } @else {
    @include align-items(flex-start);
  }
}

@each $main-axis-class in $main-axis-classes {
  @each $cross-axis-class in $cross-axis-classes {
    .#{$global-prefix}-#{$main-axis-class}-#{$cross-axis-class} {
      @include join-alignment-property($main-axis-class, $cross-axis-class);
    }
  }
}
