// 1. Container Settings
// =============================================
.#{$global-prefix}-row, .#{$global-prefix}-column, .#{$global-prefix}-grid {
  @extend %box-sizing;
  @include flexbox;
  margin: ($grid-gutter-width / -2);

  & > .#{$global-prefix}-el {
    @extend %box-sizing;
    position: relative;
    padding: $grid-gutter-width / 2;
    @include order(0);
  }
}

.#{$global-prefix}-row {
  @include flex-direction(row);
  @include flex-wrap(nowrap);
}

.#{$global-prefix}-column {
  @include flex-direction(column);
  @include flex-wrap(nowrap);
}

.#{$global-prefix}-grid {
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

.#{$global-prefix}-fill > .#{$global-prefix}-el {
  @include flex(1, 1, auto);
}

.#{$global-prefix}-gapless {
  margin: 0;

  & > .#{$global-prefix}-el {
    padding: 0;
  }
}

// 2. Arrangement: reverse
// =============================================
.#{$global-prefix}-row.rev {
  @include flex-direction(row-reverse);
}

.#{$global-prefix}-column.rev {
  @include flex-direction(column-reverse);
}

.#{$global-prefix}-grid.rev{
  @include flex-direction(row-reverse);
  @include flex-wrap(wrap-reverse);
}

// 3. Alignment: Horizontal
// =============================================
.#{$global-prefix}-left {
  @include justify-content(flex-start);
}

.#{$global-prefix}-center {
  @include justify-content(center);
}

.#{$global-prefix}-right {
  @include justify-content(flex-end);
}

.#{$global-prefix}-between {
  @include justify-content(space-between);
  margin-left: 0;
  margin-right: 0;
}

.#{$global-prefix}-around {
  @include justify-content(space-around);
  margin-left: 0;
  margin-right: 0;
}

// 4. Alignment: Vertical
// =============================================
.#{$global-prefix}-top {
  @include align-items(flex-start);
}

.#{$global-prefix}-middle {
  @include align-items(center);
}

.#{$global-prefix}-bottom {
  @include align-items(flex-end);
}
