// Overwrite Concept
// =============================================
//   mobile  |  tablet  |  web  |  wide-screen
// ---------------------------------------------
//   <------------------------------------> md {{no prefix}}
//                              |---------> lg
//   <----------------->|                   sm
//   <-------|                              xs
// =============================================
$responsive-classes: 'xs', 'sm', 'md', 'lg';
$responsive-xs:      nth($responsive-classes, 1);
$responsive-sm:      nth($responsive-classes, 2);
$responsive-md:      nth($responsive-classes, 3);
$responsive-lg:      nth($responsive-classes, 4);

$type-list:   'width', 'offset', 'hide', 'first', 'last', 'start', 'center', 'end';
$type-width:  nth($type-list, 1);
$type-offset: nth($type-list, 2);
$type-hide:   nth($type-list, 3);
$type-first:  nth($type-list, 4);
$type-last:   nth($type-list, 5);
$type-start:  nth($type-list, 6);
$type-center: nth($type-list, 7);
$type-end:    nth($type-list, 8);

@mixin make-grid-classes($class, $columns:$grid-columns) {
  $prefix: $global-prefix + '-' + $class;

  @if $class == $responsive-md {
    $prefix: $global-prefix;
  }

  @for $i from 1 through $columns {
    // $type == $type-width
    .#{$prefix}-#{$i} {
      width: percentage($i / $columns);
      @include flex-basis(percentage($i / $columns));
    }

    // $type == $type-offset
    .#{$prefix}-#{$type-offset}-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}

@mixin make-state-classes($class) {
  // $type == $type-hide
  .#{$global-prefix}-#{$class}-#{$type-hide} {
    display: none;
  }

  // $type == $type-first
  .#{$global-prefix}-#{$class}-#{$type-first} {
    @include order(-1);
  }

  // $type == $type-last
  .#{$global-prefix}-#{$class}-#{$type-last} {
    @include order(1);
  }

  // $type == $type-start
  .#{$global-prefix}-#{$class}-#{$type-start} {
    @include align-self(flex-start);
  }

  // $type == $type-center
  .#{$global-prefix}-#{$class}-#{$type-center} {
    @include align-self(center);
  }

  // $type == $type-end
  .#{$global-prefix}-#{$class}-#{$type-end} {
    @include align-self(flex-end);
  }
}


// (md)Medium grid: default state
// =============================================
  .#{$global-prefix}-container {
    width: $container-width-md;
    margin-left: auto;
    margin-right: auto;
  }
  @include make-grid-classes($responsive-md);

@media screen
 and (min-width: $breakpoint-md)
 and (max-width: $breakpoint-lg - 1) {
  @include make-state-classes($responsive-md);
}


// (lg)Large grid
// =============================================
@media screen
 and (min-width: $breakpoint-lg) {
  .#{$global-prefix}-container {
    width: $container-width-lg;
  }
  @include make-grid-classes($responsive-lg);
  @include make-state-classes($responsive-lg);
}


// (sm)Small grid
// =============================================
@media screen
 and (max-width: $breakpoint-md - 1) {
  .#{$global-prefix}-container {
    width: $container-width-sm;
  }
  @include make-grid-classes($responsive-sm);
  @include make-state-classes($responsive-sm);
}


// (xs)Extra small grid
// =============================================
@media screen
 and (max-width: $breakpoint-sm - 1) {
  .#{$global-prefix}-container {
    width: 100%;
    padding-left: $unit-size;
    padding-right: $unit-size;
    overflow-x: hidden;
  }
  @include make-grid-classes($responsive-xs);
  @include make-state-classes($responsive-xs);
}
