// Global
$global-prefix: 'fx' !default;

// Container
$breakpoint-sm:      600px !default;
$breakpoint-md:      960px !default;
$breakpoint-lg:      1200px !default;
$container-width-sm: 580px !default;
$container-width-md: 940px !default;
$container-width-lg: 1180px !default;

// Grid
$grid-columns:      12 !default;
$grid-gutter-width: 20px !default;
